:root {
   scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e1e1e1;
}

/* BAGIAN HEADER */
header {
  background-color: #371a05;
  color: white;
  padding: 10px 7px;
  display: flex;
   flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 88%;          
  z-index: 3000;
  border-radius: 50px;     
  font-size: 13px;
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 10px;
}

header h1{
    color: white;
    font-size: 15px;
    margin: 0;
    margin-left: 35px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-right: 35px;
    font-size: 5%;
}

 nav ul li a{
    color: white;
    text-decoration: none ;
    flex-wrap: wrap;
    font-size:16px ;
    margin-right: 9px;
    font-size: 13px;
 }

 nav ul li a:hover{
    text-decoration: underline;
    color: #7c736d;
 }
 nav h1 ul li a{
   flex-wrap: wrap;
 }

 
 /* BERANDA HERO */
 .hero{
    background-image: url(background.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    color: #48240a;
    text-align: left;
    padding: 140px 20px;
 }

 .hero h2{
    font-size: 60px;
    margin-bottom: 1px;
    margin-left: 70px;
 }
 
 .hero p{
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: 70px;
 }

 .hero a{
    background-color: #371a05;
    color: white;
    border-radius: 50px;
    padding: 7px 18px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 12px;
    margin-left: 70px;
 }

 .hero a:hover{
    text-decoration: underline;
    color: #7c736d;
 }
.hero i {
   background-color: #573503;
   border-radius: 100%;
   margin-left: 10px;
   padding: 6px;
}

 /* BAGIAN PRODUK */
h3{
   font-size: 27px;
   color: #48240a;
   text-align: center;
   margin-bottom: 1.5rem;
   border-bottom: 5px solid #1f1301;
}
.produk{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   text-align: center;  
   background-color: #e1e1e1; 
   padding: 30px;
   transition: transform 0.3s;
   gap: 2rem;
}

.produk:hover{
   transform: translateY(-50);
}

.produk p{
   font-size: 18px;
   font-weight: bold;
   color: white;
}

.produk-item{
   background-color: #937d6d;
   margin: 00.5rem;
   max-width: 300px;
   margin-right: 25px;
   margin-left: 25px;
   padding: 1.5rem;
   border-radius: 10px;
   height: 263px;
   width: 180px;
   transition: transform 0.3s, box-shadow 0.3s;
}
.produk-item:hover{
   transform: scale(1.1);
}
.produk-item img{
   max-width: 120%;
   height: 75%;
   border-radius: 20px;
}

.produk-item a{
   text-decoration: none;
}
.produk-item a p:hover{
   text-decoration: none;
   color: #48240a;
}

/* ANALISIS */
.analisis{
   background-color: #ccc;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   text-align: center;  
   padding: 50px;
   transition: transform 0.3s;
   gap: 2rem;
}

.analisis:hover{
   transform: translateY(-50);
}

.analisis p{
   font-size: 18px;
   font-weight: bold;
   color: white;
}

.analisis-item{
   background-color: #937d6d;
   margin: 00.5rem;
   max-width: 300px;
   margin-right: 25px;
   margin-left: 25px;
   padding: 1.5rem;
   border-radius: 10px;
   height: 263px;
   width: 180px;
   transition: transform 0.3s, box-shadow 0.3s;
}
.analisis-item:hover{
   transform: scale(1.1);
}
.analisis-item img{
   max-width: 120%;
   height: 75%;
   border-radius: 20px;
}

.analisis-item a{
   text-decoration: none;
}
.analisis-item a p:hover{
   text-decoration: none;
   color: #48240a;
}
 
/* ANGGOTA */
.anggota{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   text-align: center;  
   background-color: #e1e1e1; 
   padding: 48px;
   transition: transform 0.3s;
   gap: 2rem;
}

.anggota:hover{
   transform: translateY(-50);
}

.anggota p{
   font-size: 18px;
   font-weight: bold;
   color: white;
}

.anggota-item{
   background-color: #937d6d;
   margin: 00.5rem;
   max-width: 300px;
   margin-right: 25px;
   margin-left: 25px;
   padding: 1.5rem;
   border-radius: 10px;
   height: 263px;
   width: 180px;
   transition: transform 0.3s, box-shadow 0.3s;
}
.anggota-item:hover{
   transform: scale(1.1);
}
.anggota-item img{
   
   border-radius: 100%;
}
.anggota-item a{
   text-decoration: none;
}
.anggota-item a p:hover{
   text-decoration: none;
   color: #48240a;
}
 

/* kontak */
.kontak {
    background-color: #ccc;
    padding: 50px 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 40px;
}

.kontak h2 {
    font-size: 28px;
    color: #48240a;
    margin-bottom: 8px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.kontak p {
    font-size: 16px;
    color: #48240a;
    margin-bottom: 30px;
}

.form-kontak {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-kontak input,
.form-kontak textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-family: inherit;
}

.form-kontak input:focus
.form-kontak textarea:focus {
    outline: none;
    border-color: #e1e1e1;
} 

.form-kontak button {
    background-color: #937d6d;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.form-kontak button:hover{
    background-color: #51321c;
}

/* FOOTER */
footer {
  background-color : #e1e1e1; /* abu muda */
  color: #4b2e05; /* coklat tua */
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 40px 0 20px 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 220px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-column {
  text-align: left;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #4b2e05;
  font-weight: 700;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin: 6px 0;
}

.footer-column a {
  text-decoration: none;
  color: #4b2e05;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #9b6c2f;
  text-decoration: underline;
}

.footer-copy {
  font-size: 14px;
  color: #4b2e05;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
div {
   flex-wrap: wrap;
}

